html {
	height:100%;
	font-size: 20px;

	@media (min-width: 1920px) {
		font-size: calc(20px * 1920px / 100vw);
	}
	@media (max-width: $breakpoint-mobile){
		font-size: 18px;
	}


}
body {
	font-family: 'Encode Sans Expanded';
	font-size: inherit;
	line-height: 35px;
	color:$color-black;
	box-sizing: border-box;
	> * {
		width:100%;
		box-sizing: border-box;
	}
}

img{
	line-height: 0;
	vertical-align: middle;
}

h1,h2,h3 {
	color:$color-blue;
}

h1 {
	font-size: 40/20*1rem;
	font-weight: 600;
	@media (max-width: $breakpoint-mobile){
		font-size: 30px;
	}
}
h2 {
	font-size: 34/20*1rem;
	font-weight: 600;
	@media (max-width: $breakpoint-mobile){
		font-size: 26px;
	}
}
h3 {
	font-size: 28/20*1rem;
	font-weight: 600;
	@media (max-width: $breakpoint-mobile){
		font-size: 22px;
	}
}

a {
	text-decoration: none;
	color:$color-blue;
	position:relative;
	display: inline-block;
	&:before {
		content:'';
		top:90%;
		width:100%;
		height:0px;
		background:$color-blue;
		display: block;
		position: absolute;
		transition: height 0.2s ease-in-out;
	}
	&:hover {
		&:before {
			height:2px;
		}
	}

	&.button {
		border: 2px solid $color-blue;
		padding:0.5rem 1rem;
		text-decoration: none;
		transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
		&:before {
			display:none;
		}
		&:hover {
			background-color: $color-blue;
			color:$color-white;
		}
	}
}

footer {
	text-align: right;
	a {
		color: $color-white;
		font-weight: 500;
		&:before {
			background: $color-white;
		}
	}

	&.dark {
		a {
			color:$color-blue;
		}
	}
	@media (max-width: $breakpoint-mobile){
		background:$color-blue;
		text-align: left;
	}

}