$fontPath : '/fonts/';
@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-Light.eot');
    src: url($fontPath+'EncodeSansExpanded-Light.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-Light.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-Light.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-Light.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-Light.svg#EncodeSansExpanded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-Bold.eot');
    src: url($fontPath+'EncodeSansExpanded-Bold.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-Bold.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-Bold.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-Bold.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-Bold.svg#EncodeSansExpanded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-Black.eot');
    src: url($fontPath+'EncodeSansExpanded-Black.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-Black.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-Black.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-Black.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-Black.svg#EncodeSansExpanded-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-ExtraBold.eot');
    src: url($fontPath+'EncodeSansExpanded-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-ExtraBold.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-ExtraBold.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-ExtraBold.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-ExtraBold.svg#EncodeSansExpanded-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-Medium.eot');
    src: url($fontPath+'EncodeSansExpanded-Medium.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-Medium.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-Medium.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-Medium.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-Medium.svg#EncodeSansExpanded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-ExtraLight.eot');
    src: url($fontPath+'EncodeSansExpanded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-ExtraLight.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-ExtraLight.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-ExtraLight.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-ExtraLight.svg#EncodeSansExpanded-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-Thin.eot');
    src: url($fontPath+'EncodeSansExpanded-Thin.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-Thin.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-Thin.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-Thin.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-Thin.svg#EncodeSansExpanded-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-Regular.eot');
    src: url($fontPath+'EncodeSansExpanded-Regular.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-Regular.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-Regular.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-Regular.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-Regular.svg#EncodeSansExpanded-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans Expanded';
    src: url($fontPath+'EncodeSansExpanded-SemiBold.eot');
    src: url($fontPath+'EncodeSansExpanded-SemiBold.eot?#iefix') format('embedded-opentype'),
        url($fontPath+'EncodeSansExpanded-SemiBold.woff2') format('woff2'),
        url($fontPath+'EncodeSansExpanded-SemiBold.woff') format('woff'),
        url($fontPath+'EncodeSansExpanded-SemiBold.ttf') format('truetype'),
        url($fontPath+'EncodeSansExpanded-SemiBold.svg#EncodeSansExpanded-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

