body {
	position:relative;
	display:flex;
	flex-flow: column;
	@media (max-width: $breakpoint-mobile){
		padding-top: 110px;
	}


	> footer {
		margin-top: auto;
	}
}
.columns {
	display:flex;
	justify-content: space-between;
	width:100%;
	>* {
		flex: 0 1 50%;
	}

	@media (max-width: $breakpoint-mobile){
		flex-flow: column-reverse;

	}

}

header {
	display: flex;
	justify-content: space-around;
	padding-top:1rem;
	@media (max-width: $breakpoint-mobile){
		position:fixed;
		top:0;
		width:100%;
		background:$color-white;
		padding:1rem;
		box-sizing: border-box;
		height:110px;
		z-index: 10;
	}

}

.content {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;

	.main {
		display: flex;
		flex-flow: column;
		align-items: center;
		text-align: center;
		h1,h2,h3{
			margin:2rem 2rem;
		}
		p {
			margin:0.5rem 2rem;
		}

		.button {
			margin-bottom: 2rem;
			@media (max-width: $breakpoint-mobile){
				margin-top: 1rem;
				margin-left:1rem;
			}
		}

		.contact {
			padding:1rem;
			@media (max-width: $breakpoint-mobile){
				padding:0;
				padding-bottom:1rem;
				p {
					margin:0 1rem;
				}
				a {
					margin:0 1rem;

				}
				
			}
		}
		&.datenschutz {
			text-align: left;
			align-items: flex-start;

			padding-bottom:2rem;

			strong, ul {
				margin-left:2rem;
				@media (max-width: $breakpoint-mobile){
					margin-left:1rem;
				}
			}

			h1,h2,h3{
				margin:3rem 2rem 1rem;
				@media (max-width: $breakpoint-mobile){
					margin-left:1rem;
					margin-right:1rem;
				}

			}
			h3 {
				margin-top:1rem;
			}

			ul>li{
				padding-left:0.8rem;
				position:relative;
				&:before {
					content:'';
					width:0.4rem;
					height:0.4rem;
					position:absolute;
					display:block;
					left:0;
					top:50%;
					transform:translateY(-50%);
					background: $color-blue;
				}
			}
		}

		@media (max-width: $breakpoint-mobile){
			text-align: left;
			align-items: flex-start;
			h1,h2,h3 {
				margin:2rem 1rem;
			}
			p{
				margin:0.5rem 1rem;
			}
		}


	}
}

.filler {

	img {
		height:100%;
		width:100%;
		object-fit: cover;
	}

	@media (max-width: $breakpoint-mobile){
		max-height: 255px;
	}

}

footer {
	position: absolute;
	bottom:1rem;
	right:1rem;
	width:auto;
	@media (max-width: $breakpoint-mobile){
		position: initial;
		padding: 1rem;
	}

}